.primary-nav {
  width: 320px;
}

.primary-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 6px 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

.ddm-collapsible__head {
  display: block;
}

.ddm-collapsible__head--with-arrow:after {
  right: 6px;
}

.ddm-collapsible__head {
  padding: 5px;
  color: #fff;
  background-color: #555;
  border-bottom: 1px solid #666;
}

.ddm-collapsible:last-child > .ddm-collapsible__head {
  border-bottom: 0 none;
}

.ddm-collapsible,
.ddm-collapsible-group {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #555;
}

.ddm-collapsible__body {
  background-color: #eee;
}

.ddm-collapsible-group .ddm-collapsible,
.ddm-collapsible .ddm-collapsible,
.ddm-collapsible-group .ddm-collapsible-group {
  border-radius: 0;
  border: 0 none;
}

.ddm-collapsible-group .ddm-collapsible-group > .ddm-collapsible  > .ddm-collapsible__head {
  background-color: #999;
}

.ddm-collapsible__arrow {
  line-height: 28px;
}