.ddm-collapsible__body {
  overflow: hidden;
  height: 0;
  /* default closed */ }
  .ddm-collapsible--will-open > .ddm-collapsible__body {
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    height: 0; }
  .ddm-collapsible--opening > .ddm-collapsible__body {
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    /* height: contentHeight; set by javascript */ }
  .ddm-collapsible--open > .ddm-collapsible__body {
    height: auto; }
  .ddm-collapsible--will-close > .ddm-collapsible__body {
    /* height: contentHeight; set by javascript */ }
  .ddm-collapsible--closing > .ddm-collapsible__body {
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    height: 0; }
  .ddm-collapsible--closed > .ddm-collapsible__body {
    height: 0; }

.ddm-collapsible__head {
  cursor: pointer;
  position: relative;
  padding-right: 26px; }

.ddm-collapsible__arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 20px;
  text-align: center; }
  .ddm-collapsible__arrow:before {
    content: "\25b8";
    vertical-align: middle;
    display: block; }
    .csstransforms .ddm-collapsible__arrow:before {
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .ddm-collapsible--open > .ddm-collapsible__head > .ddm-collapsible__arrow:before {
      content: "\25be"; }
      .csstransforms .ddm-collapsible--open > .ddm-collapsible__head > .ddm-collapsible__arrow:before {
        content: "\25b8";
        -webkit-transform: rotate(90deg);
        /* Safari */
        -moz-transform: rotate(90deg);
        /* Firefox */
        -ms-transform: rotate(90deg);
        /* IE */
        -o-transform: rotate(90deg);
        /* Opera */ }
