.ddm-collapsible__body {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height .3s;
  transition: max-height .3s;
}

.ddm-collapsible__head {
  cursor: pointer;
}

.ddm-collapsible__head--with-arrow {
  position: relative;
  padding-right: 26px;
}

.ddm-collapsible__head--with-arrow:after {
  content: "\25b8";
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: middle;
  display: block;
  height: 100%;
  width: 20px;
  text-align: center;
}

.ddm-collapsible--open .ddm-collapsible__head--with-arrow:after {
  content: "\25be";
}

@mixin rotate-collapsible-arrow($deg) {
  /* Safari */
  -webkit-transform: rotate($deg);

  /* Firefox */
  -moz-transform: rotate($deg);

  /* IE */
  -ms-transform: rotate($deg);

  /* Opera */
  -o-transform: rotate($deg);
}

.csstransforms .ddm-collapsible .ddm-collapsible__head--with-arrow:after {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.csstransforms .ddm-collapsible--open .ddm-collapsible__head--with-arrow:after {
  content: "\25b8";
  @include rotate-collapsible-arrow(90deg);
}
